In [1]:
import pandas as pd
import numpy as np

In [2]:
DATA_FILE = 'datasets/cars_sample.csv.zip'

In [27]:
df = pd.read_csv(DATA_FILE)

In [28]:
df.head(25)

,price,region,year,manufacturer,model,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
0,9000,mohave county,2004.0,chevrolet,colorado ls,excellent,5 cylinders,gas,54000.0,automatic,rwd,mid-size,pickup,red
1,8500,maine,2005.0,ford,mustang convertible,excellent,6 cylinders,gas,62800.0,automatic,rwd,mid-size,convertible,silver
2,24930,helena,2017.0,subaru,outback 2.5i limited,excellent,4 cylinders,gas,32989.0,automatic,4wd,full-size,SUV,grey
3,3200,helena,1998.0,volkswagen,bug,good,4 cylinders,gas,98186.0,manual,rwd,sub-compact,coupe,blue
4,3450,helena,2000.0,jeep,grand cherokee,good,6 cylinders,gas,198200.0,automatic,4wd,mid-size,SUV,green
5,10200,helena,2013.0,nissan,juke nismo,excellent,4 cylinders,gas,45500.0,automatic,4wd,compact,SUV,silver
6,1299,oregon coast,2010.0,toyota,sequoia limited,excellent,8 cylinders,gas,168896.0,automatic,4wd,full-size,SUV,grey
7,12998,oregon coast,2012.0,acura,mdx,good,6 cylinders,gas,132867.0,automatic,4wd,full-size,SUV,black
8,17998,oregon coast,2013.0,ford,f-150,good,6 cylinders,gas,129079.0,automatic,4wd,full-size,truck,grey
9,17998,oregon coast,2012.0,ram,pickup 1500,good,8 cylinders,gas,103492.0,automatic,4wd,full-size,truck,black
10,9500,helena,2009.0,ram,1500 4x4,good,8 cylinders,gas,193151.0,automatic,4wd,full-size,truck,silver
11,6500,helena,2007.0,honda,cr-v,good,4 cylinders,gas,154171.0,automatic,4wd,mid-size,SUV,green
12,12900,south florida,2012.0,cadillac,cts luxury sedan,good,6 cylinders,gas,49600.0,automatic,fwd,mid-size,sedan,white
13,1800,south florida,2001.0,honda,civic,good,4 cylinders,gas,188000.0,automatic,fwd,compact,coupe,white
14,3500,south florida,2004.0,volvo,xc90,excellent,6 cylinders,gas,96000.0,automatic,4wd,mid-size,SUV,black
15,37800,south florida,1996.0,nissan,240sx,good,8 cylinders,gas,213000.0,automatic,rwd,mid-size,coupe,blue
16,21995,maine,2015.0,chevrolet,silverado,excellent,8 cylinders,gas,119437.0,automatic,4wd,full-size,pickup,grey
17,16000,south florida,2014.0,audi,a5 premium plus - coupe 2dr,good,4 cylinders,gas,48000.0,automatic,fwd,compact,coupe,grey
18,10700,milwaukee,2017.0,ford,escape se,like new,4 cylinders,gas,37000.0,automatic,fwd,mid-size,SUV,blue
19,1200,maine,2002.0,toyota,camry,fair,4 cylinders,gas,190000.0,automatic,fwd,mid-size,sedan,silver
20,17500,maine,2011.0,toyota,tundra double cab sr5,good,8 cylinders,gas,153000.0,automatic,4wd,full-size,truck,silver
21,14500,maine,2012.0,toyota,highlander,excellent,6 cylinders,gas,78700.0,automatic,4wd,mid-size,SUV,silver
22,45500,south florida,2016.0,ford,super duty f-250 king ranch,like new,8 cylinders,diesel,51806.0,automatic,4wd,full-size,pickup,red
23,8500,mohave county,1989.0,jeep,wrangler,good,6 cylinders,gas,127000.0,manual,4wd,full-size,SUV,white
24,5995,maine,2013.0,ford,transit connect xlt,good,4 cylinders,gas,127.0,automatic,fwd,mid-size,mini-van,black

In [29]:
df.shape

(90496, 14)

In [30]:
df.price

0         9000
1         8500
2        24930
3         3200
4         3450
         ...
90491     6900
90492    29930
90493    24900
90494    46995
90495     2450
Name: price, Length: 90496, dtype: int64

In [31]:
df.year.unique()

array([2004., 2005., 2017., 1998., 2000., 2013., 2010., 2012., 2009.,
       2007., 2001., 1996., 2015., 2014., 2002., 2011., 2016., 1989.,
       2019., 2006., 2008., 1991., 1957., 1987., 2018., 1997., 2020.,
       2003., 1975., 1988., 1993., 1999., 1984., 1995., 1994., 1965.,
       1979., 1942., 1956., 1986., 1939., 1976., 1990., 1971., 1977.,
       1963., 1978., 1962., 1983., 1955., 1951., 1974., 1970., 1969.,
       1941., 1972., 1985., 1992., 1949., 1947., 1973., 1953., 1967.,
       1968., 1929., 1964., 1925., 1982., 1938., 1981., 1966., 1946.,
       1950., 1958., 1980., 1940., 1960., 1916., 1954., 2021., 1936.,
       1932., 1952., 1959., 1948., 1927., 1934., 1930., 1961., 1923.,
       1935., 1937., 1931., 1928.])

In [32]:
df[df.year < 1940].head()

,price,region,year,manufacturer,model,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
721,17500,space coast,1939.0,chevrolet,sedan,good,8 cylinders,gas,100000.0,automatic,rwd,full-size,sedan,black
3551,22500,rochester,1929.0,ford,sedan,excellent,8 cylinders,gas,5000.0,automatic,fwd,mid-size,sedan,yellow
4664,9500,worcester / central MA,1925.0,buick,/roadster,good,6 cylinders,gas,9999999.0,manual,rwd,full-size,convertible,black
5708,7500,olympic peninsula,1929.0,mercedes-benz,gazelle,good,4 cylinders,gas,27.0,manual,rwd,compact,convertible,white
5825,15999,boston,1938.0,dodge,4 dr sedan,good,8 cylinders,gas,7720.0,automatic,rwd,mid-size,sedan,black

In [33]:
df.price.max()

69908990

In [34]:
df[df.price > 1000000].head()

,price,region,year,manufacturer,model,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
12356,1900000,lehigh valley,2016.0,cadillac,ats,like new,4 cylinders,gas,19366.0,automatic,rwd,compact,coupe,white
57021,69908990,southwest michigan,2012.0,chevrolet,equinox lt,excellent,4 cylinders,gas,126496.0,automatic,fwd,mid-size,SUV,silver
62267,3000000,south bend / michiana,2006.0,gmc,duramax 6500,good,6 cylinders,diesel,136000.0,automatic,rwd,full-size,truck,white
62445,1111111,san antonio,2011.0,ford,ranger sport,excellent,6 cylinders,gas,75000.0,automatic,fwd,mid-size,truck,blue

In [35]:
df.year.nunique()

94

In [36]:
df.condition.unique()

array(['excellent', 'good', 'like new', 'fair', 'new', 'salvage'],
      dtype=object)

In [37]:
df.nunique()

price            4463
region            402
year               94
manufacturer       42
model           10792
condition           6
cylinders           8
fuel                5
odometer        34590
transmission        3
drive               3
size                4
type               13
paint_color        12
dtype: int64

In [38]:
_ = df.pop('model')

In [39]:
df.nunique()

price            4463
region            402
year               94
manufacturer       42
condition           6
cylinders           8
fuel                5
odometer        34590
transmission        3
drive               3
size                4
type               13
paint_color        12
dtype: int64

In [40]:
df.columns

Index(['price', 'region', 'year', 'manufacturer', 'condition', 'cylinders',
       'fuel', 'odometer', 'transmission', 'drive', 'size', 'type',
       'paint_color'],
      dtype='object')

In [41]:
y = df.pop('price')

In [42]:
categ_columns = ['region', 'year', 'manufacturer', 'condition', 'cylinders',
       'fuel', 'transmission', 'drive', 'size', 'type',
       'paint_color']

In [43]:
df.manufacturer.unique()

array(['chevrolet', 'ford', 'subaru', 'volkswagen', 'jeep', 'nissan',
       'toyota', 'acura', 'ram', 'honda', 'cadillac', 'volvo', 'audi',
       'gmc', 'mercedes-benz', 'dodge', 'infiniti', 'fiat', 'bmw',
       'hyundai', 'jaguar', 'lincoln', 'rover', 'chrysler', 'lexus',
       'buick', 'mazda', 'mercury', 'kia', 'mitsubishi', 'pontiac',
       'mini', 'saturn', 'alfa-romeo', 'tesla', 'datsun', 'morgan',
       'harley-davidson', 'ferrari', 'porche', 'land rover',
       'aston-martin'], dtype=object)

In [44]:
df_sparse = pd.get_dummies(df, columns=categ_columns)

In [45]:
df_sparse.shape

(90496, 593)

In [47]:
df_sparse.iloc[:10,:15]

,odometer,region_SF bay area,region_abilene,region_akron / canton,region_albany,region_albuquerque,region_altoona-johnstown,region_amarillo,region_ames,region_anchorage / mat-su,region_ann arbor,region_annapolis,region_appleton-oshkosh-FDL,region_asheville,region_ashtabula
0,54000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,62800.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,32989.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,98186.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,198200.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,45500.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,168896.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,132867.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,129079.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,103492.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [48]:
X = df_sparse.values

In [49]:
X.shape

(90496, 593)

In [52]:
X_train = X[:-100]
y_train = y[:-100]
X_test = X[-100:]
y_test = y[-100:]

In [53]:
X_train.shape

(90396, 593)

In [54]:
X_test.shape

(100, 593)

In [56]:
Theta = np.linalg.inv(X_train.T.dot(X_train) + 1.5 * np.eye(X_train.shape[1])).dot(X_train.T).dot(y_train)

In [57]:
Theta.shape

(593,)

In [58]:
y_pred_100_cars = X_test.dot(Theta)

In [60]:
pd.DataFrame({
    'predictions' : y_pred_100_cars,
    'reality': y_test
}
)

        predictions  reality
90396  11865.556392     8000
90397  14643.395807    14000
90398  26448.780613    43995
90399   2735.375699     3200
90400  11646.552739    12800
...             ...      ...
90491  10278.264310     6900
90492  24802.550615    29930
90493  29801.069669    24900
90494  31507.747896    46995
90495    955.588556     2450

[100 rows x 2 columns]

In [62]:
MAE = np.abs(y_pred_100_cars - y_test).mean()
MAE

5534.2329285338465